export(decrypt)
export(lineup)
export(null_dist)
export(null_lm)
export(null_permute)
export(resid_boot)
export(resid_pboot)
export(resid_rotate)
export(resid_sigma)
export(rorschach)
importFrom(ggplot2,last_plot)
importFrom(plyr,rbind.fill)
importFrom(plyr,rdply)
