export(bin_dist)
export(box_dist)
export(calc_diff)
export(decrypt)
export(dist.plot)
export(distmet)
export(lineup)
export(null_dist)
export(null_lm)
export(null_permute)
export(opt_diff)
export(reg_dist)
export(resid_boot)
export(resid_pboot)
export(resid_rotate)
export(resid_sigma)
export(rorschach)
export(sep_dist)
export(uni_dist)
importFrom(ggplot2,last_plot)
importFrom(plyr,ddply)
importFrom(plyr,rbind.fill)
importFrom(plyr,rdply)
